:root{
	--primary: #001f3f;
	--accent: #39cccc;
	--bg: #f8f8f8;
	--txt: #333333;
	--cta: #ff851b;
}
body{
    margin:0 !important;
    padding:0 !important;
}
@font-face{
    font-family:Poppins-R;
    src:url('../font/Poppins-Regular.ttf');
}
@font-face{
    font-family:Poppins-S;
    src:url('../font/Poppins-SemiBold.ttf');
}

/*Default and mobile*/
.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 1rem 2rem 1rem;
    z-index:100 !important;
}
.nav-logo{
    color:var(--primary);
    font-family:Poppins-S;
    font-size:25px;
}
a{
    text-decoration: none;
    color:inherit;
}
.nav-list a{
    color:var(--primary);
    font-family: Poppins-R;
    font-size:20px;
    padding:0px 20px 0px 20px;
}
.nav-log-btn{
    color:var(--bg) !important;
    font-size:25px;
    background-color:var(--cta);
    padding:7px 30px 7px 30px !important;
    border-radius:5px;
    transition: 0.6s;
}
.nav-log-btn:hover{
    color:var(--primary) !important;
    transition: 0.6s;
}
/*Nav menu completed*/
/*Footer codes started*/
.footer-container{
    display:flex;
    flex-direction: column;
}
.foo-desc,.foo-urls,.foo-social{
    flex:33.3%;
}
.footer-img{
    width:20%;
}
/*Footer codes completed*/


@media only screen and (max-width:767px){
    .nav-list{
        position:absolute;
        display:flex;
        flex-direction: column;
        top:0px;
        right:0px;
        padding:80px 80px 30px 40px;
        background-color:var(--bg);
        z-index:0 !important;
        border-radius:10px;
        display:none;
    }
    .nav-list a{
        padding:20px 0px 20px 0px;
    }
    .m-nav-btn img{
        width:40px;
        position:relative;
        z-index:1;
    }
    .m-nav-btn img:hover{
        cursor:pointer;
    }
    .co-btn{
        display:none;
    }
    /*Nav menu completed*/
    /*Footer codes started*/
    /*Footer codes completed*/
}

/*For tablet*/
@media only screen and (min-width:768px){
    .nav-container{
        align-items: center;
        justify-content: space-between;
        padding:2rem 1rem 2rem 1rem;
    }
    .nav-logo{
        font-size:28px;
    }
    .nav-list a{
        font-size:18px;
        padding:0px 10px 0px 10px;
    }
    .nav-log-btn{
        font-size:25px;
        padding:7px 30px 7px 30px !important;
    }
    .m-nav-btn{
        display:none !important;
    }
    /*Nav menu completed*/
    /*Footer codes started*/
    .footer-container{
        flex-direction:row;
    }
    /*Footer codes completed*/
}

/*For pc*/
@media only screen and (min-width:1280px){
    .nav-container{
        align-items: center;
        justify-content: space-between;
        padding:2rem 3rem 2rem 3rem;
    }
    .nav-logo{
        font-size:31px;
    }
    .nav-list a{
        font-size:20px;
        padding:0px 20px 0px 20px;
    }
    .nav-log-btn{
        font-size:25px;
        padding:7px 30px 7px 30px !important;
    }
    /*Nav menu completed*/
    /*Footer codes started*/
    /*Footer codes completed*/
}